<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
    <title>Atelier Lydie & Sulle Graph</title>
    <style>
        body {text-align: center;}
        #graph {
            display: display-block;
            margin-left: auto;
            margin-right: auto;
            width: 1024px;
            height: 1024px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
    <h1>リディー&スールのアトリエ：調合依存グラフ</h1>
    <div id="graph"></div>
</body>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>